@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="text-center">
        <h1>BookmarksManager</h1>
        <p>Add Bookmarks</p>
    </div>
</div>

<div class="text-center">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="~/Images/Bookmark.svg" />
                <p>Add Bookmark</p>
                @*<p><a class="btn btn-primary" role="button" asp-controller="Upload" asp-action="Index">Upload</a></p>*@
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="~/Images/About.svg" />
                <p>About Us</p>
                @*<p><a class="btn btn-primary" role="button" asp-controller="Account" asp-action="Index">Add Account</a></p>*@
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img src="~/images/Bookmark.svg" />
                <p>Sign Up</p>
                @*<p><a class="btn btn-primary" role="button" asp-controller="Logon" asp-action="Index">Sign Up</a></p>*@
            </div>
        </div>
    </div>
</div>